<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression Suite">
    <parameter name="browser"  value="chrome" />
    <test  preserve-order="true" name="regression test">
        <classes>
            <class name="tests.RegisterTest" />
            <class name="tests.LoginTest" />
            <class name="tests.OrderDetailsTest" />
        </classes>
    </test>
</suite>